DirectoryIndex index.php index.html index.htm index2.html

ErrorDocument 400 ./errors/400/
ErrorDocument 401 ./errors/401/
ErrorDocument 403 ./errors/403/
ErrorDocument 404 ./errors/404/
ErrorDocument 500 ./errors/500/
ErrorDocument 503 ./errors/503/

RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]