/* Main */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* position: fixed; */
    background-color: rgb(255, 255, 255);
    max-width: 100%;
}

#navbar li, a {
    font-size: 120%;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(103, 181, 223);
    border-radius: 5px;
    padding: 10px;
}

#navbar a img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

#navbar nav ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

#navbar li :hover:not(.active) {
    color: rgb(30, 137, 190);
}

#navbar li .active {
    background-color: rgb(103, 181, 223);
    color: white;
}

#projects {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/skytecwebsiterewrite.appspot.com/o/FrontView.png?alt=media&token=57ed4f4d-f50c-4ed5-96e2-97076a480516");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projects ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
}


.project {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 25px;
    max-width: 450px;
    padding: 10px;
}

.project img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.project h1 {
    color: rgb(30, 137, 190);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 10px;
}

.project h4 {
    color: rgb(103, 181, 223);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}